{% extends 'BHDemo/Dashboard.html' %}

{% block content %}

    <div class="w3-row-padding" style="margin:0 -16px; background-color: #ffe6cc">
<h1>About the Demo</h1><br>

<p>This demo has been prepared to illustrate the possibilities of web-development in the context of Reverse Logistic applications.</p>

<p>It is not intended to have a final specification implemented but to serve as a vehicle to discuss industry requirements. In particular, as the model for reverse logistic is being developed as part of ongoing research, it has been replaced in this demo by a Genetic Algorithm optimiser example for a capacitated vehicle routing problem.</p>

<p>Some of the technologies used in this demo are:
<ul>
  <li>Django</li>
  <li>Python</li>
  <li>JavaScript</li>
  <li>JQuery</li>
  <li>Three.js</li>
  <li>D3.js</li>
  <li>SqlLite3</li>
  <li>Boostrap</li>
</ul>
</p>

<p>Any questions relating to the demo and its implementation can be directed to Jose Saavedra-Rosas at charango.chile@gmail.com.</p>
    </div>

{% endblock %}
