{% extends 'BHDemo/Dashboard.html' %}

{% block content %}

        <center> <div id="map" style="width:740px;height:370px;background:blue"></div> </center>

        <script>
        var sWidth = (window.innerWidth - $("#mySidebar").width())*0.97;
        var sHeight = window.innerHeight*0.55;
        $("#map").css("width", sWidth);
        $("#map").css("height", sHeight);

        function updateMarkerPositionTxt(latLng) {
           document.getElementById('marker-position').innerHTML =
           String(latLng.lat()) + ',' + String(latLng.lng());
        }

        function myMap() {
        var ptLat = (-0.5 + Math.random() + 13.7).toFixed(2)
        var ptLng = (-0.5 + Math.random() + 100.5).toFixed(2)
        var point = new google.maps.LatLng(ptLat, ptLng);

        var myLatLng2 = {lat: 13.7, lng: 100.5};

        var mapOptions = {
            center: myLatLng2,
            zoom: 9,
            mapTypeId: google.maps.MapTypeId.MAP
          }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var i;
        var ptLat, ptLng;

        for (i = 0; i < 20; i++) {
            ptLat = (-0.2 + 0.4*Math.random() + 13.7).toFixed(2)
            ptLng = (-0.5 + Math.random() + 100.5).toFixed(2)
            var point = new google.maps.LatLng(ptLat, ptLng);
            var marker = new google.maps.Marker({
                position: point,
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                title: 'Truck Located at Latitude: ' + ptLat + ', Longitude: ' + ptLng
            });

            google.maps.event.addListener(marker, 'dragend', function() {
               this.setTitle('Marker Moved to new position: Latitude: ' + this.getPosition().lat().toFixed(2) + ', Longitude: '+ this.getPosition().lng().toFixed(2));
               this.setIcon('http://maps.google.com/mapfiles/ms/icons/purple-dot.png');
            });

        };



        // google.maps.event.addListener(marker, 'click', function(marker,i) {   infowindow.open(map,marker); });

        }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6GgvuldFw_k198OvLmhMoSFNfJamOhHE&callback=myMap"></script>

{% endblock %}